*{
  margin: 0;
  padding: 0;
}
html{
  width: 100%;
  height: 100%;
  background-color: white;
}
.App{
  .nav{
    height: 60px;
    line-height: 60px;
    background-color: #3a3a3a;
    border-bottom: 1px solid white;
    img{
      width: 200px;
      height: 60px;
      float: left;
    }
    Button{
      width: 60px;
      height: 30px;
      border: none;
      margin: 15px;
      float: right;
    }
    ul{
      background-color: #3a3a3a;
      margin: 0;
      .list{
        height: 60px;
        line-height: 60px;
        list-style: none;
        text-align: center;
        float: left;
        color: white;
        margin: 0 10px;
      }
    }
  }
}