*{
  margin: 0;
  padding: 0;
}
html{
  width: 100%;
  height: 100%;
  background-color: white;
}
.nav{
  height: 60px;
  line-height: 60px;
  background-color: #3a3a3a;
  margin-bottom: 1px;
  img{
    width: 200px;
    height: 60px;
    float: left;
  }
  h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 36%;
    float: left;
    color: white;
  }
}
ul{
  width: 20%;
  background-color: #3a3a3a;
  float: left;
  .list{
    height: 40px;
    line-height: 40px;
    list-style: none;
    text-align: center;
    color: white;
  }
}
.content{
  width: 70%;
  float: right;
}