* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  background-color: white;
}

.App .nav {
  height: 60px;
  line-height: 60px;
  background-color: #3a3a3a;
  border-bottom: 1px solid white;
}

.App .nav img {
  width: 200px;
  height: 60px;
  float: left;
}

.App .nav h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: left;
  color: white;
}

.App .nav Button {
  width: 60px;
  height: 30px;
  border: none;
  margin: 15px;
  float: right;
}

.App .navMenu {
  width: 15%;
  float: left;
}

.App .navMenu ul {
  height: 659px;
  background-color: #3a3a3a;
}

.App .navMenu ul .list {
  height: 60px;
  line-height: 60px;
  list-style: none;
  text-align: center;
  color: white;
  border-bottom: 1px solid gray;
}
