@charset "UTF-8";
.home_img {
  width: 100%;
  height: 100%;
}

.site-back-top-basic {
  color: rgba(64, 64, 64, 0.6);
}

input {
  width: 330px;
  height: 30px;
}

.home_ul {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 50px;
  /* background: pink; */
}

.home_ul li {
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* float: left; */
}

.home_ul li span {
  font-size: 20px;
}

.goodslist {
  width: 100%;
}

.goodslist img {
  width: 100%;
  background: none;
}

.goodslist h3 {
  font-weight: bold;
  padding-left: 10px;
  color: #58bc58;
  text-align: center;
}

.price > span {
  color: #f00;
}

.price > span::before {
  content: '￥';
}
