.Home{
    width: 100%;
    height: 100%;
    h1{
        background-image: url(https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1032823889,3476239057&fm=26&gp=0.jpg);
        width: 85%;
        float: right;
        font-size: 50px;
        font-family: 'Courier New', Courier, monospace;
        line-height: 659px;
        text-align: center;
        color: #000000;
        text-shadow: 0 0 0.3em #fff, 0 0 0.3em #fff, 0 0 0.3em #fff;
    }
}