.login{
    width: 100%;
    max-width: 420px;
    margin: 40px auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFF;
    position: relative;
    border-radius: 6px;
    .h1{
        font-size: 18px;
        color: #353030;
        font-weight: 600;
        margin: 0 0 40px;
    }
    
    .from{
        margin-top: 20px;


        .from-list{
            margin-top: 24px;
            .user{
                width: 100%;
                margin: 0;
                padding: 0 0 0 6px;
                height: 40px;
                border: 1px solid #E9E9E9;
            
                box-sizing: border-box;
                border-radius: 4px;
                font-size: 16px;
            }

            .pass{
                width: 100%;
                margin: 0;
                padding: 0 0 0 6px;
                height: 40px;
                border: 1px solid #E9E9E9;
            
                box-sizing: border-box;
                border-radius: 4px;
                font-size: 16px;
            }
        }

        .tos{
            .span{
                font-size: 12px;
                user-select: none;
                vertical-align: middle;
                cursor: default;
            }
            .p{
                display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        .a{
            color: #FE4066;
            vertical-align: middle;
            text-decoration: none;  
            font-size: 12px;
        }
            }
        }

        .submit-btn{
            margin-top: 16px;
            .login-1{
            background-color: #389bec;
            color: #FFF;
            font-size: 16px;
            height: 44px;
            width: 100%;
            display: block;
            border-radius: 22px;
            }
        }
    

    }
}