.goodsone {
  width: 100%;
}

.goodsone img {
  width: 100%;
  background: none;
}

.goodsone h3 {
  font-weight: bold;
  padding-left: 10px;
  color: #58bc58;
  text-align: center;
}

.goodstwo {
  width: 100%;
}

.goodstwo img {
  width: 100%;
  background: none;
}

.goodstwo h3 {
  font-weight: bold;
  padding-left: 10px;
  color: #58bc58;
  text-align: center;
}
